//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .link{
        &.authorization-link{
            list-style: none;
            text-transform: uppercase;
            padding-right:20px;

            a{
                color: #222;
                text-decoration: none;
                font-weight:300;
                font-size:12px;
                transition:color 0.1s linear;

                &:hover{
                    color:#888
                }
            }
        }
    }

    .menu{
        &.navi{
            list-style: none;
            display: flex;
        }
    }
}



//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){
    //------------------Header-------------------



}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    //------------------Header-------------------

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    //------------------Header-------------------

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //----------------Header------------------
    .menu{
        &.navi{
            .link{
                &.authorization-link{
                    a{
                        font-size:0;

                        &::before{
                            content:"\f2c0";
                            font-family:@font-family-awesome;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //------------------Header-------------------


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //----------------Footer Newsletter----------------

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    //------------------Footer Newsletter-------------------

}
