//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    //--------------Common-------------
    .page-wrapper{
        .page-main{
            max-width: 1920px;
            padding-left:0;
            padding-right:0;
            .block{
                margin-bottom:0;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        margin-top: 0;
    }


    .upon_all{
        max-width:1350px;
        margin: @indent__xl auto 0;
        padding:0 @indent__base;
    }

    //Slider buttons
    .slider_btns{
        position:absolute;
        right: 20px;
        top: 65px;
        width:140px;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        z-index: 10;
    }

    .slider_btns a{
        text-decoration: none;
        text-transform: uppercase;
        font-family:@font-family__poppins;
        font-weight: lighter;
        cursor:pointer;
        color:@color-elogic-black;
        width:50%;
        text-align:center;
        .lib-font-size(@font-size-average);
    }

    .slider_btns a:first-child{
        border-right:@color-elogic-black 1px solid;
    }

    //----------------Main Banner---------------
    .baner {
        width: 100vw;
        max-width: 1920px;
        height: 75vh;
        max-height: 928px;
        background-color: @color-elogic-baner;
        .lib-vendor-box-align(center);
        .lib-vendor-prefix-display(flex);
    }
    .container {
        margin: 0 auto;
        width: 60%;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
        .lib-vendor-box-align(center);
        max-width: 850px;
        img {
            width: 40%;
            height: max-content;
            max-width: 300px;
        }
    }
    .container_text {
        img {
            width: 40%;
            height: max-content;
            max-width: 300px;
            display: none;
        }
        width: inherit;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        * {
            font-family: @font-family__poppins;
        }
        h1 {
            text-transform: uppercase;
            .lib-font-size(35px);
            letter-spacing: 0.2rem;
            font-weight: lighter;
            margin-bottom: @indent__s;
            span {
                font-weight: @font-weight__semibold;
            }
        }
        a {
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            .lib-font-size(@font-size-medium);
            letter-spacing: 1px;
            color: @color-elogic-black;
            border-bottom: @color-elogic-black solid 1px;
            width: max-content;
            padding-bottom: 3px;
            transition: all 0.15s linear;
            &:hover {
                text-decoration: none;
                color: @color-elogic-nav-hover;
                border-color: @color-elogic-nav-hover;
            }
        }
        h6 {
            .lib-font-size(@font-size-medium);
            color: @color-elogic-additional-info;
            letter-spacing: 1.1px;
            margin:0 0 @indent__l 0;
            font-weight: @font-weight__medium;
        }
    }




    //----------------Categories---------------
    .categories {
        width: 100vw;
        max-width: 1920px;
    }
    .categories_container {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
    }
    .cat_elem {
        width: 46%;
        background-color: @color-elogic-baner;
        padding: 0 @indent__xl 0 0;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);

        img{
            width: 70%;
            height: max-content;
        }
    }
    .elem_textbox {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        height: inherit;
        .lib-vendor-prefix-justify-content(center);
        img {
            display: none;
        }
        * {
            font-family: @font-family__poppins;
        }
        h1 {
            font-weight: @font-weight__semibold;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-bottom:@indent__xs;
            span {
                font-weight: @font-weight__lighter;
            }
        }
        p {
            font-style: italic;
            color: @color-elogic-additional-info;
            font-weight: normal;
            .lib-font-size(@font-size-medium);
        }
        a {
            text-decoration: none;
            cursor: pointer;
            .lib-font-size(@font-size-medium);
            font-weight: @font-weight__medium;
            letter-spacing: 1px;
            color: @color-elogic-black;
            width: max-content;
            border-bottom: @color-elogic-black solid 1px;
            text-transform: uppercase;
            padding-bottom: 3px;
            margin-top: @indent__base;
            transition: all 0.15s linear;
            &:hover {
                text-decoration: none;
                color: @color-elogic-nav-hover;
                border-color: @color-elogic-nav-hover;
            }
        }
    }



    .our_products{
        position:relative;
        margin-top:@indent__l * 3;
    }

    .product_slider_btns{
        top:55px;
    }

    .products_header{
        padding: 0 0 0 @indent__xs;
        text-transform: uppercase;
        margin-bottom:@indent__l;
        position: relative;
        height: 80px;

        &::after{
            content: "";
            width: 30px;
            height: 3px;
            background: @color-elogic-black;
            position: absolute;
            bottom: 0;
            left: 5px;
        }

        h2{
            font-weight: @font-weight__semibold;
            margin: 0;
        }

        h4{
            color:@color-elogic-additional-info;
            margin: @indent__s 0;
            font-weight: lighter;
        }
    }




    //----------------November Sale---------------
    .sale {
        max-width: 1920px;
        padding: 0 @indent__base;
        margin-top: @indent__l * 3;
    }
    .sale_bg {
        height: 146px;
        max-width: 1310px;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05)), url("https://i.ibb.co/Qms181R/Screenshot-2021-07-30-at-12-16-18-kare-k83990-624068820-800x800w-jpg-JPEG-Image-699-800-pixels.png");
        background-position-y: -285px;
    }
    .sale_text {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
        margin: 0 auto;
        height: 100%;
        .lib-vendor-box-align(center);
        width: 85%;
        text-transform: uppercase;
        font-family: @font-family__poppins;
        a {
            text-decoration: none;
            cursor: pointer;
            .lib-font-size(@font-size-medium);
            font-weight: @font-weight__medium;
            letter-spacing: 1px;
            color: @color-elogic-black;
            width: max-content;
            border-bottom: @color-elogic-black solid 1px;
            text-transform: uppercase;
            padding-bottom: 3px;
            transition: all 0.15s linear;
            &:hover {
                text-decoration: none;
                color: @color-elogic-nav-hover;
                border-color: @color-elogic-nav-hover;
            }
        }
    }
    .sale_info {
        h2 {
            font-weight: @font-weight__semibold;
            letter-spacing: 1px;
        }
        h4 {
            font-weight: @font-weight__lighter;
        }
    }



    //------Bestsellers/Features/Most Viewed------
    .products_group {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
        margin-top: @indent__l * 3;
        .lib-vendor-prefix-flex-wrap(wrap);
    }
    .group_item {
        width: 32%;
    }

    .group_item_header{
        text-transform: uppercase;
        .lib-font-size(17px);
        font-weight: @font-weight__semibold;
        letter-spacing: 1px;
    }

    .group_item_content {
        border-top: 1px solid @color-elogic-border-gray;
        margin-top: @indent__s * 2;
        padding-top: 35px;
    }



    //----------------News & Blog---------------
    .news_blog{
        .products_header{
            padding:0;

            &::after{
                left:0;
            }
        }
    }

    .news{
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
        .lib-vendor-prefix-flex-wrap(wrap);
    }

    .news_item{
        width: 32%;

        h4{
            text-transform: uppercase;
            margin: @indent__base 0;
        }

        p{
            color: @color-elogic-additional-info;
            letter-spacing: .25px;
        }
    }

    .news_date{
        font-style: italic;
        color: @color-elogic-additional-info;
        .lib-font-size(@font-size-average);
        margin-bottom: @indent__s + @indent__xs;

        .far.fa-calendar-alt{
            .lib-font-size(@font-size-medium);
            margin-right: 8px;
        }
    }






    //----------------Shop By Brands---------------
    .brand_shop {
        padding-top: @indent__base;
        padding-bottom: @indent__base;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        position: relative;
    }
    .shop_header {
        .lib-vendor-prefix-display(flex);
        width: 100%;
        .lib-vendor-box-align(center);
        margin-bottom: @indent__l;
        h1 {
            font-family: @font-family__poppins;
            font-weight: @font-weight__medium;
            display: block ruby;
            padding: 0 @indent__s;
            font-size: 35px;
            margin:0;
        }
        span {
            display: block;
            content: '';
            height: 1px;
            background-color: @color-elogic-border-gray;
            width: 100%;
        }
    }
    .brand_icons {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-around);
    }
    .brand_icon {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        .lib-vendor-box-align(center);
        a {
            img {
                width: 120px;
            }
            font-family: @font-family__poppins;
            font-weight: lighter;
            font-size: @font-size-medium;
            margin-top: @indent__xs * 3;
            text-decoration: none;
            color: @color-elogic-black;
            transition: all 0.15s linear;
            &:hover {
                color: @color-elogic-nav-hover;
            }
        }
    }

}



//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){
    //----------------Main Banner---------------
    .container{
        width:80%;
    }

    .container_text {
        h1{
            .lib-font-size(33px);
        }

        h6{
            .lib-font-size(@font-size-medium);
        }

        a{
            .lib-font-size(@font-size-medium);
        }
    }

    .container {
        img{
            width:70%;
            max-width:600px;
        }
    }


    //------Bestsellers/Features/Most Viewed------



    //----------------News & Blog---------------



    //----------------Shop By Brands---------------
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    //--------------Common-------------
    .upon_all{
        padding:0 @indent__base;
    }



    //----------------Main Banner---------------
    .container{
        img{
            width:45%;
            max-width:400px;
        }
    }


    //----------------Categories---------------
    .elem_textbox {
        h1 {
            .lib-font-size(28px);
        }
        p {
            .lib-font-size(@font-size-average);
        }
        a {
            .lib-font-size(@font-size-average);
        }
    }


    //----------------Our Products---------------
    .products_header{
        padding:0 0 0 @indent__xs;

        &::after{
            left:5px;
        }
    }

    .product_slider_btns{
        right:20px;
    }



    //----------------November Sale---------------
    .sale{
        padding:0 @indent__base;
    }

    .sale_bg {
        background-position-y: -285px;
        height: 146px;
    }
    .sale_text {
        width: 85%;
        a {
            .lib-font-size(@font-size-medium);
        }
    }
    .sale_info {
        h2 {
            .lib-font-size(24px);
        }
        h4 {
            .lib-font-size(16px);
        }
    }



    //------Bestsellers/Features/Most Viewed------
    .group_item{
        width:32%;
    }



    //----------------News & Blog---------------
    .news_item {
        width: 32%;
    }



    //----------------Shop By Brands---------------
    .brand_icon {
        &:last-child {
            .lib-vendor-prefix-display(flex);
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    //--------------Common-------------
    .upon_all{
        padding:0 @indent__xl * 2;
    }

    .product_slider_btns{
        right:70px;
    }



    //----------------Main Banner---------------
    .container{
        width: 65%;
    }
    .container_text {
        h1 {
            .lib-font-size(30px);
        }
        h6 {
            .lib-font-size(@font-size__s);
            letter-spacing: normal;
        }
        a {
            .lib-font-size(@font-size__s);
        }
    }



    //----------------Categories---------------
    .cat_elem {
        padding: 0 @indent__base @indent__base 0;
    }
    .elem_textbox {
        h1 {
            .lib-font-size(22px);
            margin-bottom:0;
        }
        p {
            .lib-font-size(@font-size__s);
        }
        a {
            .lib-font-size(@font-size__s);
        }
    }


    //----------------Our Products---------------


    //----------------November Sale---------------
    .sale{
        padding:0 @indent__xl * 2;
    }

    .sale_bg {
        height: 120px;
        background-position-y: -180px;
    }
    .sale_text {
        width: 90%;
        a {
            .lib-font-size(@font-size__s);
        }
    }
    .sale_info {
        h2 {
            .lib-font-size(@font-size__l);
        }
        h4 {
            .lib-font-size(@font-size__s);
        }
    }




    //------Bestsellers/Features/Most Viewed------
    .group_item{
        width:100%;
    }



    //----------------News & Blog---------------
    .news_item {
        width: 48%;
    }



    //----------------Shop By Brands---------------
    .brand_icon {
        &:last-child {
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //--------------Common-------------
    .upon_all{
        padding:0 @indent__base;
    }

    .product_slider_btns{
        right:10px;
    }



    //----------------Main Banner---------------
    .baner {
        height: 450px;
    }
    .container_text {
        h1 {
            .lib-font-size(23px);
        }
        h6 {
            .lib-font-size(@font-size-small);
            letter-spacing: normal;
        }
        a {
            .lib-font-size(@font-size-small);
        }
    }




    //----------------Categories---------------
    .cat_elem {
        padding: 0 @indent__xs * 3 @indent__s 0;
    }
    .elem_textbox {
        h1 {
            .lib-font-size(@font-size__l);
        }
        p {
            .lib-font-size(@font-size-small);
        }
        a {
            .lib-font-size(@font-size-small);
        }
    }


    //----------------Our Products---------------
    .products_header{
        height:75px;

        h2{
            .lib-font-size(@font-size-large);
        }
    }


    //----------------November Sale---------------
    .sale{
        padding: 0 @indent__base;
    }

    .sale_bg {
        height: 120px;
        background-position-y: -120px;
    }
    .sale_text {
        width: 90%;
        a {
            .lib-font-size(@font-size__xs);
        }
    }
    .sale_info {
        h2 {
            .lib-font-size(17px);
        }
        h4 {
            .lib-font-size(@font-size__xs);
        }
    }




    //------Bestsellers/Features/Most Viewed------
    .group_item{
        width:100%;
    }



    //----------------News & Blog---------------
    .news_item {
        width: 48%;
    }



    //----------------Shop By Brands---------------
    .shop_header{
        h1{
            font-size:@font-size-average * 2;
        }
    }

    .brand_icon {
        &:nth-last-child(-n+2) {
            display: none;
        }

        img{
            width:100px;
        }

        p{
            font-size:14px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //----------------Main Banner---------------
    .container {
        width: 80%;
    }
    .container_text {
        h1 {
            .lib-font-size(@font-size-large);
        }
    }



    //----------------Categories---------------
    .categories_container {
        .lib-vendor-prefix-flex-direction(column);
        .lib-vendor-box-align(center);
    }
    .cat_elem {
        padding: 0 @indent__xs * 3 @indent__s 0;
        width: 85%;
        &:first-child {
            margin-bottom: @indent__s * 2;
        }
    }


    //----------------Our Products---------------
    .product_slider_btns{
        top: 55px;
        right: 40px;
    }

    .products_header{
        padding: 0 0 0 35px;

        &::after{
            left:35px;
        }
    }




    //------Bestsellers/Features/Most Viewed------



    //----------------News & Blog---------------



    //----------------Shop By Brands---------------
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //----------------Main Banner---------------
    .baner {
        height: 400px;
    }
    .container {
        img {
            display: none;
        }
    }
    .container_text {
        width: 100%;
        .lib-vendor-box-align(center);
        text-align: center;
        img {
            display: block;
            width: 135px;
            margin-right: @indent__s;
            margin-top: @indent__s * 2;
        }
        h6 {
            margin-bottom: 0;
        }
        a {
            margin-top: @indent__s * 2;
        }
    }




    //----------------Categories---------------
    .cat_elem {
        img {
            display: none;
        }
    }
    .elem_textbox {
        text-align: center;
        padding: @indent__xl @indent__base;
        a {
            margin: @indent__xs * 3 auto 0;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .lamp {
        img {
            margin-top: @indent__l;
        }
        .elem_textbox {
            padding-bottom: 0;
        }
    }


    //----------------Our Products---------------
    .product_slider_btns{
        top: 55px;
        right: 30px;
    }

    .products_header{
        padding: 0 0 0 @indent__m;

        &::after{
            left:25px;
        }
    }


    //----------------November Sale---------------
    .sale_bg {
        background-position: top;
        height: 250px;
    }
    .sale_text {
        width: 100%;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        .lib-vendor-prefix-justify-content(center);
        .lib-vendor-box-align(center);
        text-align: center;
        a {
            .lib-font-size(@font-size-average);
        }
    }
    .sale_info {
        margin-bottom: 47px;
        h2 {
            .lib-font-size(@font-size-large);
            margin-bottom: @indent__xs;
        }
        h4 {
            .lib-font-size(@font-size-average);
        }
    }



    //------Bestsellers/Features/Most Viewed------



    //----------------News & Blog---------------
    .news_item {
        width: 100%;
    }



    //----------------Shop By Brands---------------
    .brand_icon {
        &:nth-last-child(-n+4) {
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    //----------------Main Banner---------------
    .container_text {
        h1 {
            .lib-font-size(19px);
            margin-bottom: @indent__xs;
        }
    }




    //----------------Categories---------------
    .cat_elem{
        width:93%;
    }


    //----------------November Sale---------------
    .sale_bg {
        background-position: top;
        height: 323px;
    }
    .sale_text {
        width: 100%;
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        .lib-vendor-prefix-justify-content(center);
        .lib-vendor-box-align(center);
        text-align: center;
        a {
            .lib-font-size(@font-size__xs);
        }
    }
    .sale_info {
        margin-bottom: @indent__m * 3;
        h2 {
            .lib-font-size(@font-size__l);
            margin-bottom: @indent__xs;
        }
        h4 {
            .lib-font-size(@font-size__xs);
        }
    }




    //------Bestsellers/Features/Most Viewed------



    //----------------News & Blog---------------



    //----------------Shop By Brands---------------
}
