//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    //------------------Header-------------------
    .page-header{
        .widget{
            &.block{
                margin:0 0 20px;
            }
        }

        .header {
            &.content {
                display: flex;
                padding: 30px 0;
                align-items: center;
                justify-content: space-between;
                max-width: 1350px;
            }

            .nav-sections {
                background-color: transparent;
                margin-bottom: 0;
            }

            .logo {
                margin: 0;
            }

            .compare{
                &.wrapper{
                    display:none;
                }
            }
        }

        .ves-megamenu{
            .dropdown{
                .nav-anchor,
                .nav-anchor.ui-corner-all{
                    color: #222;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background-color:transparent;
                    transition: all .4s ease;
                }

                .nav-anchor{
                    &:hover,
                    &:active,
                    &:focus{
                        color: #888;
                        background-color:transparent;
                    }
                }
            }

            .level0{
                .dropdown-menu{
                    top: 50px;
                    background-color: #222;
                    transform-origin: top;
                    transform:scaleY(0);
                    transition:transform 0.25s linear;

                    >.submenu{
                        left:112% !important;//I'm using !important because the template use !important as well
                    }
                }
            }

            .dropdown-submenu.parent{
                position:relative;

                &::after{
                    content:'';
                    border: solid #888;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 2px;
                    transform: rotate(-45deg) translateY(-50%);
                    transition:border-color 0.1s linear;
                    position: absolute;
                    top: 50%;
                    right: 0;
                }

                &:hover{
                    &::after{
                        border-color:#fff;
                    }
                }
            }

            .level1.dropdown-submenu,
            .level2.dropdown-submenu{
                background-color:transparent;

                &:hover > .nav-anchor{
                    color:#fff;
                    background-color:transparent;
                    border:none;
                    margin-left:15px;

                    &::before {
                        opacity: 1;
                        left: 0px;
                    }
                }
            }

            .dropdown-submenu{
                .nav-anchor {
                    display: block;
                    text-decoration: none;
                    background: 0 0;
                    border: none !important;//to prevent big nestings I use !important
                    color: #fff;
                    font-size: 1em;
                    padding: 0 0 0 20px;
                    line-height: 36px;
                    text-transform: none;
                    font-weight: 300;
                    letter-spacing: .25px;
                    position:relative;
                    transition: all 0.25s linear;

                    &:active,
                    &:focus{
                        color:#fff;
                        border:none;
                    }

                    &::before {
                        opacity: 0;
                        color:#fff;
                        content: "";
                        border-radius: 50%;
                        border: 1px solid #fff;
                        height: 4px;
                        width: 4px;
                        background-color: #fff;
                        line-height: 1;
                        position: absolute;
                        left: 18px;
                        top: 50%;
                        transform: translateY(-65%);
                        transition: left 0.25s linear;
                    }

                    &.active{
                        border-color:transparent;
                    }
                }
            }



            //-------------Special Baner--------------
            .navigation{
                .special-baner{
                    .item-sidebar{
                        margin-top: -15px;
                    }

                    .submenu.dropdown-menu{
                        width: 88vw;
                        left: 145%;
                        max-width: 1320px;
                        padding: 40px 30px;
                        transform: translateX(-50%) scaleY(0);
                        transform-origin: top;

                        .submenu-inner{
                            padding:0;

                            .item-header{
                                margin-bottom:50px;
                            }
                        }
                    }

                    .submenu-inner{
                        padding: 40px 30px;
                    }

                    .nav-top-block{
                        display: flex;
                        justify-content: space-between;
                    }

                    .top-item{
                        width: 33%;
                        display: flex;
                        align-items:center;

                        em{
                            width: 50px;
                            height: 50px;
                            font-size: 18px;
                            text-align: center;
                            line-height: 50px;
                            color: #222;
                            background: #fff;
                            border-radius: 100%;
                            display: inline-block;
                        }
                    }

                    .top-text{
                        padding-left:15px;

                        h6{
                            text-transform: none;
                            color: #fff;
                            font-size: 17px;
                            margin-bottom: 0;
                            padding-bottom:3px;
                        }

                        p{
                            color: #777;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }

                    .mega-col{
                        display: flex;
                        justify-content:space-between;
                        background-color:#222;

                        .level1{
                            &.dropdown-submenu.parent{
                                width:33%;

                                .mega-col-4{
                                    flex-direction:column;
                                }
                            }
                        }

                        .subitems-group{
                            text-transform: uppercase;
                            font-weight: 500;
                            color:#ddd;
                            font-size:15px;
                            margin-bottom: 25px;

                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }

                    .dropdown-submenu{
                        &.parent::after{
                            display:none;
                        }
                    }
                }

                .nav-top-imgs{
                    display: grid;
                    place-items: center;
                }

                .imgs-flex{
                    display: flex;
                    width: 100%;

                    a{
                        cursor:pointer;
                        margin:8px 20px;
                        padding:0;

                        &:hover{
                            background-color:transparent;
                        }

                        &:first-child{
                            margin-right:40px;
                        }

                        img{
                            &:hover{
                                transform: scale(1);
                            }
                        }
                    }
                }

                .item-footer{
                    border-top:1px solid #50442A;
                    padding-top:30px;

                    >.widget{
                        &.block{
                            margin:0;
                        }
                    }

                    .nav-footer{
                        p{
                            line-height: 22px;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}



//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){
    //------------------Header-------------------



}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    //------------------Header-------------------
    .page-header{
        .header{
            &.content{
                flex-wrap: nowrap;
                padding:30px;
            }

            .logo{
                width: auto;
                margin: 0;
                padding-bottom: 0px;

                img{
                    margin:0 auto;
                }
            }

            .ves-megamenu{
                &.top-navigation{
                    >.navigation{
                        padding:0 20px;
                    }
                }
            }

            .menu{
                &.navi{
                    margin-left:0;
                }
            }
        }



        //-------------------Special Baner-----------------------
        .ves-megamenu{
            .navigation{
                .special-baner{
                    .submenu{
                        &.dropdown-menu{
                            left: 145%;
                            width: 88vw;
                        }
                    }

                    .top-text{
                        h6{
                            font-size:17px;
                        }

                        p{
                            font-size:14px;
                        }
                    }
                }

                .imgs-flex{
                    a{
                        margin:8px 20px;

                        &:first-child{
                            margin-right:40px;
                        }
                    }
                }

                .level0{
                    .submenu{
                        .submenu-inner{
                            .content-wrapper{
                                display: block;
                            }
                        }
                    }
                }

                .nav-item{
                    >.submenu{
                        >.item-content{
                            width:50% !important;//overriding megamenus styles
                        }

                        >.item-sidebar{
                            width: 50% !important;//overriding megamenus styles

                            .imgs-flex{
                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    //------------------Header-------------------
    .page-header{
        .header{
            &.content{
                flex-wrap: wrap;
                padding:20px 0;
            }

            .logo{
                width: 100%;
                margin: 0 auto;
                padding-bottom: 10px;

                img{
                    margin:0 auto;
                }
            }

            .ves-megamenu{
                &.top-navigation{
                    >.navigation{
                        padding:0;
                    }
                }
            }

            .menu{
                &.navi{
                    margin-left:10%;
                }
            }
        }



        .ves-megamenu{
            .navigation{
                .nav-item{
                    .span-level(@i) when (@i > -1){
                        &.level@{i}{
                            >.submenu.dropdown-menu{
                                transform: scaleY(0);
                                display:block;
                                opacity:0;
                            }

                            &:hover{
                                >.submenu.dropdown-menu{
                                    transform: scaleY(1);
                                    opacity:1;
                                }
                            }

                            &.special-baner{
                                >.submenu.dropdown-menu{
                                    transform: translateX(-50%) scaleY(0);
                                    display:block;
                                    opacity:0;
                                }

                                &:hover{
                                    >.submenu.dropdown-menu{
                                        transform: translateX(-50%) scaleY(1);
                                        opacity:1;
                                    }
                                }
                            }
                        }

                        .span-level(@i - 1);
                    }

                    .span-level(2);
                }





                //-------------------Special Baner-----------------------
                .special-baner{
                    .submenu{
                        &.dropdown-menu{
                            left: 375px;
                            width:750px;
                        }
                    }

                    .top-text{
                        h6{
                            font-size:15px;
                        }

                        p{
                            font-size:12px;
                        }
                    }
                }

                .imgs-flex{
                    a{
                        margin:8px;

                        &:first-child{
                            margin-right:8px;
                        }
                    }
                }

                .level0{
                    .submenu{
                        .submenu-inner{
                            .content-wrapper{
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }

                .nav-item{
                    >.submenu{
                        >.item-content{
                            width:65% !important;//overriding megamenus styles
                        }

                        >.item-sidebar{
                            width: 25% !important;//overriding megamenus styles

                            .imgs-flex{
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }

    .item-content1{
        &.hidden-xs{
            &.hidden-sm{
                display:flex !important;//must to use because by default it has !important
            }
        }
    }

    .item-content2{
        &.hidden-lg{
            &.hidden-md{
                display:none;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //----------------Header------------------
    .page-header{
        margin-bottom:0;

        .header{
            &.content{
                flex-wrap: wrap;
                padding:20px 0;
            }

            .logo{
                width: 80%;
                margin-left: 20px;

                img{
                    width:140px;
                }
            }

            .ves-megamenu{
                &.top-navigation{
                    >.navigation{
                        padding:0;
                    }
                }

                .level0{
                    .dropdown-menu{
                        transform:scaleY(1);
                    }
                }
            }

            .menu{
                &.navi{
                    margin-left:0;
                    align-items:center;
                    width:20%;
                    justify-content: end;
                }
            }
        }
    }




    //----------------Burger------------------
    .nav-toggle{
        top:50%;
        transform: translateY(-50%);

        &::before{
            color:#222;
            font-size:25px;
        }
    }

    .nav-sections-item-title {
        display:none;

        &.active{
            display:none;
        }
    }

    .nav-sections-item-content{
        margin-top:15px;
    }

    .page-header{
        .header{
            &.content{
                .nav-sections{
                    background-color: #222;
                    width: 100%;

                    .nav-sections-items{
                        margin:30px;
                        left:0;

                        .close-burger{
                            position: absolute;
                            right: 0;
                            cursor: pointer;

                            &::before{
                                content: '\f00d';
                                display: table;
                                font-family: @font-family-awesome;
                                color: #fff;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }

        .ves-megamenu{
            .nav-anchor{
                .opener{
                    &::before{
                        content:"\f107";
                        font-family: @font-family-awesome;
                    }

                    &.item-active{
                        &::before{
                            content:"\f105";
                        }
                    }
                }
            }

            .dropdown{
                background-color: #222;

                &:hover{
                    .nav-anchor{
                        &.ui-corner-all{
                            color:#888;
                        }
                    }
                }

                .nav-anchor{
                    &.ui-corner-all{
                        color: #ddd;
                        border-bottom: 1px solid #333;
                        transition: all 0.2s linear;
                    }
                }

                .level1{
                    &.dropdown-submenu{
                        &:hover{
                            >.nav-anchor{
                                margin-left:0;
                                color: #ddd;
                                font-size: 14px;

                                &:hover{
                                    margin-left:0;
                                    color:#ddd;
                                }

                                &::before{
                                    opacity:0;
                                }
                            }
                        }

                        .nav-anchor{
                            color: #ddd;
                            font-size: 14px;

                            &:hover{
                                margin-left:0;
                                color:#ddd;
                            }

                            &:hover::before{
                                opacity:0;
                            }
                        }
                    }
                }

                .dropdown-submenu{
                    &.parent{
                        &::after{
                            display:none;
                        }

                        .submenu{
                            &.dropdown-menu{
                                display:none;
                            }
                        }
                    }
                }
            }

            .level2{
                &.dropdown-submenu{
                    .nav-anchor{
                        color: #ddd;
                        font-size: 14px;

                        &:hover{
                            margin-left:0;
                            color:#ddd;
                        }

                        &:hover::before{
                            opacity:0;
                        }
                    }
                }
            }

            .navigation{
                .special-baner{
                    >.submenu{
                        &.dropdown-menu{
                            padding:0;
                        }
                    }
                }
            }
        }

        .navigation{
            li{
                &.level0{
                    &:last-child{
                        border-bottom:1px solid #222;
                    }
                }
            }
        }
    }

    .nav-sections{
        left:-100%;
    }




    //----------------Special Baner------------------
    .page-header{
        .ves-megamenu{
            .navigation{
                .special-baner{
                    .submenu.dropdown-menu{
                        transform:translateX(0%);
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //------------------Header-------------------


}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //----------------Footer Newsletter----------------
    .page-header{
        .header{
            &.content{
                flex-direction:column;
            }

            .menu{
                &.navi{
                    width: 90%;
                    justify-content: end;
                    margin-top: 20px;
                }
            }

            .nav-toggle{
                top:74%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    //------------------Footer Newsletter-------------------

}
