//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    //--------------Common-------------
    .gallery-controller{
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-justify-content(space-between);
        position:relative;
        margin-top:@indent__l;
    }

    .controller-item{
        width:31%;
    }
}



//  Desktop
//  _____________________________________________

