// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //-----------Common------------
    .product-item-photo{
        opacity:1;
    }

    .product-item-link,
    .product-item-link:visited{
        text-transform: uppercase;
        color: @color-elogic-icon-gray;
        font-family: @font-family__poppins;
        font-weight: lighter;
        letter-spacing: 1px;
        text-decoration:none;
        transition:all 0.2s linear;
    }

    .product-item-link:hover{
        color:@color-elogic-black;
        text-decoration:none;
    }

    .price-label{
        display:none;
    }

    .price-box{
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        width: 100%;
        margin: 8px 0;
        justify-content: center;
    }

    .price-box{
        span{
            font-family: @font-family__oswald;
        }

        span[data-price-type='finalPrice']{
            font-weight: @font-weight__bold;
            .lib-font-size(@font-size__l);
        }

        span[data-price-type='oldPrice']{
            color:@color-elogic-bold-gray;
            text-decoration: line-through;
            .lib-font-size(14px);
            font-weight: @font-weight__regular;
            margin-left:@indent__xs;
        }
    }

    .actions-primary{
        display:none;

        form{
            .price-box{
                display:none;
            }
        }
    }

    .actions-secondary{
        display:none;
    }



    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-display(flex);
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
        }

        .product-item{
            text-align:center;
            width: 24%;
            min-width: 100px;
            height: max-content;

            a{
                display: inline-block;
                width: 100%;
                transition:all 0.2s linear;

                .product-image-container{
                    width:100% !important;
                }
            }
        }

        .product-item-info{
            position:relative;

            &:hover{
                .actions-secondary{
                    opacity:1;
                    top:40%;
                }

                .product-item-photo-hovered{
                    opacity:1;
                }

                .actions-primary{
                    form{
                        .action{
                            opacity:1;
                            left:50%;
                        }

                        .price-box{
                            opacity:0;
                            margin-left:50%;
                        }
                    }
                }
            }
        }

        .product-item-details{
            .price-box{
                display:none;
            }
        }

        .product-item-photo-hovered{
            position: absolute;
            top: 0;
            left: 0;
            opacity:0;
            z-index:1;
        }

        .product-item-details{
            margin: @indent__m 0 0;
            text-align: center;
        }

        .actions-primary{
            display:block;

            form{
                .lib-vendor-prefix-display(flex);
                justify-content: center;
                position: relative;

                .action{
                    opacity:0;
                    background-color: transparent;
                    color: @color-elogic-black;
                    border-bottom: 1px @color-elogic-black solid;
                    border-radius: 0;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    text-transform: uppercase;
                    font-family: @font-family__oswald;
                    font-weight: 500;
                    padding: 9px 0;
                    letter-spacing: 1px;
                    transform: translateX(-50%);
                    transition:all 0.2s linear;
                    position:absolute;
                    top:5px;
                    left: 20%;
                }

                .price-box{
                    display:flex;
                    width:auto;
                    opacity: 1;
                    transition:all 0.2s linear;
                }
            }
        }

        .actions-secondary{
            display:block;
            width: max-content;
            position: absolute;
            left: 50%;
            top:80%;
            transform: translate3d(-50%, -50%, 0);
            background-color: rgba(255,255,255,.96);
            z-index: 10;
            padding: @indent__l 0px;
            opacity:0;
            transition:all 0.25s linear;
        }

        .product-item {
            .actions-secondary{
                .action{
                    color:@color-elogic-black;
                    .lib-font-size(@font-size-medium);
                    transition:all 0.2s linear;

                    &:hover{
                        color:@color-elogic-nav-hover;
                    }
                }

                .eye::before{
                    content:none;
                }

                .towishlist {
                    margin: @indent__m - @indent__xs 0;

                    &::before{
                        content: none;
                    }
                }

                .tocompare::before{
                    content:none;
                }
            }
        }
    }





    //------Bestsellers/Features/Most Viewed------
    .group_item_content{
        .product-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            list-style: none;
            padding: 0;
        }

        .product-item{
            margin-bottom:22px;
        }

        .product-item-info{
            .lib-vendor-prefix-display(flex);

            &:hover{
                .product-item-photo-hovered{
                    opacity:1;
                }
            }
        }

        .product-item-details{
            width: 100%;
            height: max-content;
        }

        .product-item-photo,
        .product-item-photo-hovered{
            width:90px;
            margin-right:@indent__s + @indent__xs;
            transition:all 0.2s linear;
        }

        .product-item-photo-hovered{
            opacity:0;
            position:absolute;
            z-index:1;
        }

        .price-box{
            justify-content:start;
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .product-item{
                width:100%;
                padding:0;
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .product-item{
                width:90%;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:42%;
                }
            }

            .actions-secondary{
                .lib-font-size(16px);

                .towishlist{
                    margin:@indent__m 0;
                }
            }
        }
    }



    //------Bestsellers/Features/Most Viewed------
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);
            justify-content:center;
        }

        .product-items{
            .product-item{
                width:42%;
                padding:0 @indent__s;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:37%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);

            .product-item{
                width:30%;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:37%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);

            .product-item{
                width:30%;
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(nowrap);

            .product-item{
                width:23%;

                &:first-child{
                    padding-left:0;
                }

                &:last-child{
                    padding-right:0;
                }
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:40%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------
}
