//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //-----------Common------------
    .product-item-photo{
        opacity:1;
      
    //  Product Lists
    .product-items{
        .lib-vendor-prefix-display(flex);
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
    }

    .product-item{
        text-align:center;
        width: 24%;
        min-width: 100px;
        height: max-content;
        padding: 0 10px;

        a{
            display: inline-block;
            width: 100%;

            .product-image-container{
                //I use !important because this class have element style which I can't overwrite no matter how many nestings I do
                width:100% !important;
            }
        }
    }

    .product-item-details{
        margin: 25px 0 0;
        text-align: center;
    }

    .product-item-link,
    .product-item-link:visited{
        text-transform: uppercase;
        color: @color-elogic-icon-gray;
        font-family: @font-family__poppins;
        font-weight: lighter;
        letter-spacing: 1px;
        text-decoration:none;
        transition:all 0.2s linear;
    }

    .product-item-link:hover{
        color:@color-elogic-black;
        text-decoration:none;
    }

    .price-label{
        display:none;
    }

    .price-box{
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        width: 100%;
        margin: 8px 0;
        .lib-vendor-prefix-justify-content(center);
    }

    .price-box{
        span{
            font-family: @font-family__oswald;
        }

        span[data-price-type='finalPrice']{
            font-weight: @font-weight__bold;
            .lib-font-size(@font-size__l);
        }

        span[data-price-type='oldPrice']{
            color:@color-elogic-bold-gray;
            text-decoration: line-through;
            .lib-font-size(14px);
            font-weight: @font-weight__regular;
            margin-left:@indent__xs;
        }
    }

    .actions-primary{
        display:none;

        form{
            .price-box{
                display:none;
            }
        }
    }

    .actions-secondary{
        display:none;
    }



    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-justify-content(space-between);
            list-style: none;
            padding-left: 0;
        }

        .product-item{
            text-align:center;
            width: 24%;
            min-width: 100px;
            height: max-content;

            a{
                display: inline-block;
                width: 100%;
                transition:all 0.2s linear;

                .product-image-container{
                    //I use !important because this class have element style which I can't overwrite no matter how many nestings I do
                    width:100% !important;
                }
            }
        }

        .product-item-info{
            position:relative;

            &:hover{
                .actions-secondary{
                    opacity:1;
                    top:40%;
                }

                .product-item-photo-hovered{
                    opacity:1;
                }

                .actions-primary{
                    form{
                        .action{
                            opacity:1;
                            left:50%;
                        }

                        .price-box{
                            opacity:0;
                            margin-left:50%;
                        }
                    }
                }
            }
        }

        .product-item-details{
            .price-box{
                display:none;
            }
        }

        .product-item-photo-hovered{
            position: absolute;
            top: 0;
            left: 0;
            opacity:0;
            z-index:1;
        }

        .product-item-details{
            margin: @indent__m 0 0;
            text-align: center;
        }

        .actions-primary{
            display:block;

            form{
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-justify-content(center);
                position: relative;

                .action{
                    opacity:0;
                    background-color: transparent;
                    color: @color-elogic-black;
                    border-bottom: 1px @color-elogic-black solid;
                    border-radius: 0;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    text-transform: uppercase;
                    font-family: @font-family__oswald;
                    font-weight: @font-weight__medium;
                    padding: 9px 0;
                    letter-spacing: 1px;
                    transform: translateX(-50%);
                    transition:all 0.2s linear;
                    position:absolute;
                    top:5px;
                    left: 20%;
                }

                .price-box{
                    .lib-vendor-prefix-display(flex);
                    width:auto;
                    opacity: 1;
                    transition:all 0.2s linear;
                }
            }
        }

        .actions-secondary{
            display:block;
            width: max-content;
            position: absolute;
            left: 50%;
            top:80%;
            transform: translate3d(-50%, -50%, 0);
            background-color: rgba(255,255,255,.96);
            z-index: 10;
            padding: @indent__l 0px;
            opacity:0;
            transition:all 0.25s linear;
        }

        .product-item {
            .actions-secondary{
                .action{
                    color:@color-elogic-black;
                    .lib-font-size(@font-size-medium);
                    transition:all 0.2s linear;

                    &:hover{
                        color:@color-elogic-nav-hover;
                    }
                }

                .eye::before{
                    content:none;
                }

                .towishlist {
                    margin: @indent__m - @indent__xs 0;

                    &::before{
                        content: none;
                    }
                }

                .tocompare::before{
                    content:none;
                }
            }
        }
    }





    //------Bestsellers/Features/Most Viewed------
    .group_item_content{
        .product-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            list-style: none;
            padding: 0;
        }

        .product-item{
            margin-bottom:22px;
        }

        .product-item-info{
            .lib-vendor-prefix-display(flex);

            &:hover{
                .product-item-photo-hovered{
                    opacity:1;
                }
            }
        }

        .product-item-details{
            width: 100%;
            height: max-content;
        }

        .product-item-photo,
        .product-item-photo-hovered{
            width:90px;
            margin-right:@indent__s + @indent__xs;
            transition:all 0.2s linear;
        }

        .product-item-photo-hovered{
            opacity:0;
            position:absolute;
            z-index:1;
        }

        .price-box{
            .lib-vendor-prefix-justify-content(start);
        }
    }



    //------Category Page------
    .page-title-wrapper{
        display:none;
    }

    .page-main{
        .breadcrumbs{
            padding:0;
        }
    }

    .breadcrumbs{
        a,
        a:visited{
            color:#333;
        }

        a{
            transition: all 0.2s linear;
            font-weight:@font-weight__lighter;

            &:hover{
                color:@color-elogic-black;
                text-decoration:underline;
            }
        }

        .items{
            strong{
                color:@color-elogic-black;
                font-weight:@font-weight__regular;
            }

            item{
                &:not(:last-child){
                    &::after{
                        color: @color-elogic-additional-info;
                    }
                }
            }
        }
    }

    .page-wrapper{
        .product-list-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-justify-content(space-between);

            >li{
                width:31%;
                margin-bottom: @indent__l * 2;
            }

            .product-item-details{
                text-align:center;
                margin-top:@indent__base;
            }

            .price-box{
                margin: @indent__s 0;
            }
        }
    }


    .page-wrapper{
        .page-main{
            max-width: 1280px;
            padding: 0 @indent__base;
            margin: 0 auto;

            .base{
                display:none;
            }
        }
    }



    //Toolbar
    #sorter{
        display:none;
    }

    .toolbar-left{
        float:left;
        .lib-vendor-box-align(center);
        .lib-vendor-prefix-display(flex);
    }

    .toolbar-right{
        float:right;
        height: 35px;
        border-bottom: 1px solid @color-elogic-nav-hover;
        letter-spacing: 1px;
        margin-bottom: @indent__s;
        text-transform: uppercase;

        .lib-font-size(14px);
        color: @color-elogic-black;
    }

    .toolbar-sorter{
        .sorter-label{
            display:none;
        }

        .select2-container{
            &.select2-container--open{
                .select2-selection--single{
                    .select2-selection__arrow{
                        &::before{
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .select2-selection--single{
                height: 32px;
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);

                #select2-sorter-container{
                    .lib-font-size(@font-size-average);

                    color: @color-elogic-basic-arrow;
                }

                .select2-selection__arrow{
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                    height: inherit;

                    &::before{
                        content: "\f107";
                        font-family: @font-family-awesome;
                        .lib-font-size(@font-size-medium);

                        color: @color-elogic-basic-arrow;
                    }

                    b{
                        display:none;
                    }
                }
            }
        }



        .sorter-action{
            &::before
                .lib-font-size(14px);

                margin-left: @indent__xs;
            }
        }
    }

    .modes{
        .modes-label +
        .modes-mode,
        .modes-mode:last-child{
            border: 0;
            border-radius: 0;
            padding: 8px;
            margin-right:@indent__xs;
            background-color:#eee;
            transition:all 0.2s linear;
            cursor:pointer;

            &::before{
                color:@color-elogic-basic-arrow;
            }

            &:hover{
                background-color:@color-elogic-black;

                &::before{
                    color:@color-elogic-primary-white;
                }
            }

            &.active{
                background-color: @color-elogic-black;
                cursor:default;

                &:hover{
                    background-color:@color-elogic-black;

                    &::before{
                        color:@color-elogic-primary-white;
                    }
                }

                &::before{
                    color:@color-elogic-primary-white;
                }
            }
        }
    }

    .select2-container{
        .select2-dropdown{
            border: 1px solid @color-elogic-black;
            border-radius: 0;

            .select2-results{
                li{
                    margin-bottom:0;
                    background-color:@color-elogic-primary-white;
                    color:@color-elogic-black;

                    &:hover{
                        background-color:@color-elogic-black;
                        color:@color-elogic-primary-white;
                    }
                }
            }
        }
    }

    .field{
        &.limiter{
            .label{
                display:none;
            }

            .limiter-text{
                display:none;
            }
        }
    }



    //Sidebar category
    .sidebar{
        .filter-options-item{
            padding-bottom:@indent__s;

            &.active{
                .filter-options-title{
                    &::after{
                        color: @color-elogic-basic-arrow;
                        transform: rotate(0deg);
                    }
                }
            }

            .filter-options-title{
                &::after{
                    color: @color-elogic-basic-arrow;
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .filter-options-content{
        .items{
            .item{
                margin: @indent__s 0 @indent__xs * 3;

                a{
                    color:#666666;
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);

                    &::before{
                        content: '';
                        display: block;
                        height: 10px;
                        width: 10px;
                        border: 1px solid @color-elogic-basic-arrow;
                        margin-right: 8px;
                    }

                    &:hover{
                        background-color:transparent;
                    }
                }
            }
        }
    }


    .page-wrapper{
        .page-main{
            .block{
                &.block-compare{
                    margin-bottom:@indent__l * 2;
                }
            }
        }
    }

    .sidebar-additional{
        .block-compare,
        .block-wishlist{
            .block-title{
                margin:0 0 @indent__xs * 3;

                strong{
                    .lib-font-size(@font-size__l);
                    color: #201f1f;
                    font-weight: @font-weight__medium;
                    text-transform: none;
                    letter-spacing: 1px;
                }
            }

            .empty{
                color: @color-elogic-nav-hover;
                .lib-font-size(14px);
                font-weight: @font-weight__lighter;
            }
        }
    }


    //Category Products
    .category-products{
        &.product-list-items{
            .item{
                width:100%;
                .lib-vendor-prefix-display(flex);

                .product-item-info{
                    width:100%;
                    .lib-vendor-prefix-display(flex);

                    >.product-item-photo{
                        max-width:305px;
                    }

                    .product-item-photo-hovered{
                        display:none;
                    }

                    .product-item-details{
                        margin-top:0;
                        margin-left:@indent__l;
                        text-align:left;
                        width:inherit;

                        >.price-box{
                            display:none;
                        }

                        .product-item-link{
                            color: @color-elogic-black;
                            .lib-font-size(@font-size__l);
                            text-transform: capitalize;
                        }

                        .product-item-description{
                            >p,
                            >ul{
                                .lib-font-size(@font-size-average);
                                font-weight:@font-weight__lighter;
                                color:@color-elogic-nav-hover;
                            }

                            >ul{
                                margin: @indent__base 0 @indent__l;
                                list-style: none;
                                padding: 0;
                                line-height: 15px;
                            }
                        }

                        .more{
                            display:none;
                        }

                        .product-item-inner{
                            .lib-vendor-prefix-display(flex);
                            .lib-vendor-prefix-flex-direction(column-reverse);
                            margin-top: @indent__base;
                        }
                    }

                    .product-item-actions{
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(end);
                    }
                }
            }

            .actions-primary{
                display:block;

                form{
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column-reverse);

                    .action{
                        background-color: @color-elogic-black;
                        color: @color-elogic-primary-white;
                        border:none;
                        border-radius: 0;
                        text-transform: uppercase;
                        font-weight: @font-weight__medium;
                        padding: @indent__xs * 3 @indent__base;
                        letter-spacing: 1px;
                        transition:all 0.2s linear;
                        width:max-content;

                        &:hover{
                            background-color:@color-elogic-icon-gray;
                        }
                    }

                    .price-box{
                        .lib-vendor-prefix-display(flex);
                        width:max-content;
                        .lib-vendor-prefix-flex-direction(column);

                        span{
                            .lib-font-size(@font-size__l);
                            font-weight: @font-weight__regular;
                            color:@color-elogic-icon-gray;
                            margin-left:0;
                        }
                    }
                }
            }

            .product-item {
                a{
                    display: inline-block;
                    width: 100%;
                    transition:all 0.2s linear;

                    .product-image-container{
                        //I use !important because this class have element style which I can't overwrite no matter how many nestings I do
                        width:100% !important;
                    }
                }

                .actions-secondary{
                    .lib-vendor-prefix-display(flex);
                    background-color: rgba(255,255,255,.96);
                    width:100px;
                    margin:@indent__s @indent__xs;

                    .action{
                        color:@color-elogic-black;
                        .lib-font-size(@font-size__l);
                        transition:all 0.2s linear;
                        text-decoration:none;
                        text-align:center;

                        &:hover{
                            color:@color-elogic-nav-hover;
                        }

                        &::before{
                            font-family: @font-family-awesome;
                        }

                        span{
                            display:none;
                        }
                    }

                    .quickviewproduct{
                        display:none;
                    }

                    .towishlist {
                        margin: 0;

                        &::before{
                            content: '\f004';
                        }
                    }

                    .tocompare::before{
                        content:'\f24e';
                    }
                }
            }
        }


        &.product-grid-items{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-justify-content(space-between);

            .product-item{
                width:31%;
                margin-bottom:@indent__m * 2;
                min-width: 100px;
                text-align:center;

                a{
                    display: inline-block;
                    width: 100%;
                    transition:all 0.2s linear;

                    .product-image-container{
                        //I use !important because this class have element style which I can't overwrite no matter how many nestings I do
                        width:100% !important;
                    }
                }
            }

            .product-item-info{
                position:relative;

                &:hover{
                    .actions-secondary{
                        opacity:1;
                        top:40%;
                    }

                    .product-item-photo-hovered{
                        opacity:1;
                    }

                    .actions-primary{
                        form{
                            .action{
                                opacity:1;
                                left:50%;
                            }

                            .price-box{
                                opacity:0;
                                margin-left:50%;
                            }
                        }
                    }
                }
            }

            .product-item-details{
                .price-box{
                    display:none;
                }
            }

            .product-item-photo-hovered{
                position: absolute;
                top: 0;
                left: 0;
                opacity:0;
                z-index:1;
            }

            .product-item-details{
                margin: @indent__m 0 0;
                text-align: center;
            }

            .actions-primary{
                display:block;

                form{
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-justify-content(center);
                    position: relative;

                    .action{
                        opacity:0;
                        background-color: transparent;
                        color: @color-elogic-black;
                        border-bottom: 1px @color-elogic-black solid;
                        border-radius: 0;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        text-transform: uppercase;
                        font-family: @font-family__oswald;
                        font-weight: @font-weight__medium;
                        padding: 9px 0;
                        letter-spacing: 1px;
                        transform: translateX(-50%);
                        transition:all 0.2s linear;
                        position:absolute;
                        top:5px;
                        left: 20%;
                    }

                    .price-box{
                        .lib-vendor-prefix-display(flex);
                        width:auto;
                        opacity: 1;
                        transition:all 0.2s linear;
                    }
                }
            }

            .actions-secondary{
                display:block;
                width: max-content;
                position: absolute;
                left: 50%;
                top:80%;
                transform: translate3d(-50%, -50%, 0);
                background-color: rgba(255,255,255,.96);
                z-index: 10;
                padding: @indent__l 0px;
                opacity:0;
                transition:all 0.25s linear;
            }

            .product-item {
                .actions-secondary{
                    .action{
                        color:@color-elogic-black;
                        .lib-font-size(@font-size-medium);
                        transition:all 0.2s linear;
                        text-decoration:none;

                        &:hover{
                            color:@color-elogic-nav-hover;
                        }

                        &::before{
                            font-family: @font-family-awesome;
                        }

                        span{
                            display:none;
                        }
                    }

                    .quickviewproduct::before{
                        content:'\f06e';
                    }

                    .towishlist {
                        margin: @indent__m - @indent__xs 0;

                        &::before{
                            content: '\f004';
                        }
                    }

                    .tocompare::before{
                        content:'\f24e';
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .product-item{
                width:100%;
                padding:0;
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------


    //------Category Page------
    .page-products{
        .columns{
            .sidebar{
                &.sidebar-main{
                    .sidebar-slider{
                        width:100%;
                    }
                }
            }
        }
    }

    .category-products{
        &.product-grid-items{
            .product-item{
                width:100%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .product-item{
                width:90%;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:42%;
                }
            }

            .actions-secondary{
                .lib-font-size(16px);

                .towishlist{
                    margin:@indent__m 0;
                }
            }
        }
    }



    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
    .page-products{
        .columns{
            .sidebar{
                &.sidebar-main{
                    .sidebar-slider{
                        width:70%;
                    }
                }
            }
        }
    }

    .category-products{
        &.product-grid-items{
            .product-item{
                width:90%;
                margin: 0 auto @indent__m * 2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-vendor-prefix-justify-content(center);
        }

        .product-items{
            .product-item{
                width:42%;
                padding:0 @indent__s;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:37%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
    .page-products{
        .columns{
            .sidebar{
                &.sidebar-main{
                    .sidebar-slider{
                        width:55%;
                    }
                }
            }
        }
    }

    .category-products{
        &.product-grid-items{
            margin-top:@indent__base;

            .product-item{
                width:47%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);

            .product-item{
                width:30%;
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:37%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //----------------Our Products---------------


    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
    .page-products{
        .page-wrapper{
            .page-main{
                width:-moz-available;
            }
        }

        .columns{
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);

            .column{
                &.main{
                    padding:0;

                    >.toolbar{
                        .sorter{
                            position:unset;
                        }
                    }
                }
            }

            .modes{
                display:none;
            }

            .sidebar{
                &.sidebar-main{
                    width:100%;
                    order:2;

                    .sidebar-slider{
                        width: 45%;
                        margin: 0 auto @indent__l;
                    }

                    .block-content{
                        margin-bottom:@indent__m * 2;
                    }

                    .block-title{
                        display:none;
                    }

                    .block-subtitle{
                        display:none;
                    }
                }
            }

            .block-subtitle{
                .lib-font-size(@font-size-large);
                padding:@indent__s @indent__s @indent__l;
            }

            .filter-options{
                .lib-font-size(@font-size__l);
                padding-bottom:@indent__s;
                display:block;

                .filter-options-item{
                    padding-bottom:@indent__l;
                }

                .filter-options-content{
                    .lib-font-size(14px);
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(wrap);

            .product-item{
                width:30%;
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //----------------Our Products---------------
    .our_products{
        .product-items{
            .lib-vendor-prefix-flex-wrap(nowrap);

            .product-item{
                width:23%;

                &:first-child{
                    padding-left:0;
                }

                &:last-child{
                    padding-right:0;
                }
            }
        }

        .product-item-info{
            &:hover{
                .actions-secondary{
                    top:40%;
                }
            }
        }
    }


    //------Bestsellers/Features/Most Viewed------



    //------Category Page------
}
