//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    //--------------Common-------------
    .product-social-links{
        .add-to-giftr{
            .giftr-link{
                .action{
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #F6F6F6;
                    margin-top: 20px;
                    text-decoration:none;
                    transition:all 0.2s linear;
                    cursor:pointer;

                    &:hover{
                        background-color:#222;

                        &::before{
                            color:#F6F6F6;
                        }
                    }

                    &::before{
                        content:'\f06b';
                        font-family:@font-family-awesome;
                        font-size: 20px;
                        color: #222;
                        transition:all 0.2s linear;
                    }

                    >span{
                        display:none;
                    }
                }
            }
        }
    }


    //Select
    .modal-popup{
        &.modal-giftr{
            &._show{
                .modal-inner-wrap{
                    top: 45%;
                    left: 50%;
                    transform: translate3d(-50%,-50%, 0);
                    margin:0;
                    width:auto;
                }

                .modal-footer{
                    display:none;
                }

                .options-container{
                    display: flex;
                    flex-direction: column;
                    background: #2f3640;
                    color: #f5f6fa;
                    max-height: 0;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.4s;
                    border-radius: 8px;
                    overflow: hidden;

                    order: 1;

                    &.active{
                        max-height: 240px;
                        opacity: 1;
                        overflow-y: scroll;
                    }

                    &::-webkit-scrollbar{
                        width: 8px;
                        background: #0d141f;
                        border-radius: 0 8px 8px 0;
                    }

                    &::-webkit-scrollbar-thumb{
                        background: #525861;
                        border-radius: 0 8px 8px 0;
                    }
                }

                .option{
                    &:hover{
                        background: #414b57;
                    }

                    span{
                        cursor: pointer;
                    }

                    input{
                        opacity:0;
                        visibility:hidden;
                    }
                }

                .option,
                .selected{
                    padding: 12px 24px;
                    cursor: pointer;
                }

                .selected{
                    background: #2f3640;
                    border-radius: 8px;
                    margin-bottom: 8px;
                    color: #f5f6fa;
                    position: relative;

                    order: 0;

                    &::after{
                        content: "\f078";
                        font-family:@font-family-awesome;
                        background-size: contain;
                        background-repeat: no-repeat;

                        position: absolute;
                        height: 100%;
                        width: 32px;
                        right: 10px;

                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}



//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl){

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {

}
